  <!-- container -->
<div class="bg-zinc-600 flex justify-center h-screen  items-center ">

  <!-- card  -->
   <div class=" border-2xl bg-zinc-700">
    
    <!-- content  -->
     <div class="flex bg-zinc-800 gap-6 ">

      <!-- image  -->
       <div>
         <img src="assets/tailwinds/email/email-subscribe-pea.jpg " class="h-96" />
       </div>

       <!-- other content -->
        <div>
          <h1 class="text-center">
            Get Diet and fitness tips  in your  inbox
          </h1>
          <p> Eat better and excersize better. Sign up Diet&Fitness  news letter</p>

          <div class="flex gap-4 flex-col  md:flex-row">

            <input class="bg-zic-700 border-gray-600 border-1 rounded-xl placeholder:text-sm outline-none"  placeholder="Enter your email address">
            <button class="bg-lime-600 p-4"> Subscribe</button>
          </div>
        </div>
     </div>
  </div>

</div>