<div class="bg-green-500 text-white p-4">
  Hello, Tailwind! Basics

  let' Explore more in Depth

  <button routerLink="aggrid" routerLinkActive="active">tailwind-utitlity-first</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-colors</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-contianer-spacing</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-typegraphy</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-sizing</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-layout-positions</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-background-shadows</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-borders</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-filters</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-interactivity</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-breakpoints</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-columns</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-flex</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-grid</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-animation</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-customization</button>
  <button routerLink="aggrid" routerLinkActive="active">tailwind-darkMode</button>
  

</div>