<div class="bg-green-500 flex flex-y-0 flex-x-4  text-white p-4 ">

  <div class="flex flex-y-0 flex-x-4 items-center justify-center flex-col-reverse">
    <a routerLink="aggrid" routerLinkActive="active">tailwind-utitlity-first</a>
    <a routerLink="aggrid" >tailwind-colors</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-contianer-spacing</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-typegraphy</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-sizing</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-layout-positions</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-background-shadows</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-borders</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-filters</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-interactivity</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-breakpoints</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-columns</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-flex</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-grid</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-animation</a>
    <a routerLink="aggrid" routerLinkActive="active">tailwind-customization</a>
    <a routerLink="./aggrid" routerLinkActive="active">tailwind-darkMode</a>
    <a routerLink="./email" routerLinkActive="active">tailwind-Email</a>
    <a routerLink="./pgrid" routerLinkActive="active">tailwind-Price-Grids</a>
  </div>

 <router-outlet>

  </router-outlet>
 </div>
