/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.action-button {
  padding: 4px;
  color: white;
  font-size: 15px;
  margin-right: 5px;
 }
 .edit{
   background-color: lightblue;
 }
 .delete{
  background-color: red;

 }
